/**
 *
 *
 *
 *
/***************************************************************************/
/****************************  $Media Queries  *****************************/
/*
 * The styles by default are for desktops devices with resolutions
 * than 1200px of width or more.
 */
/**
 *
 *
/*****************  $Medium devices (Desktops) <= 1200px  ******************/
@media handheld, only screen and (max-width: 1200px) {
  .features h2 {
    font-size: 3.3em;
  }
  .features .features-item {
    margin: 0 10px 10px 10px;
    width: 206px;
  }
  .features .device img {
    height: 120px;
  }
  .features .phone {
    width: 350px;
  }
  .navbar-nav>li>a {
    padding: 20px 0;
  }
}
/**
 *
 *
/*******************  $Small devices (Tablets) <= 992px  *******************/
@media handheld, only screen and (max-width: 992px) {
  .home h2 {
    font-size: 3em;
  }
  .features .phone {
    float: none;
  }
  .testimonials .owl-theme .owl-controls {
    bottom: 0px;
  }
  .premium-tv .premium-tv-item {
    width: 320px;
    padding: 0 15px 13px;
  }
  footer .navbar-nav {
    float: none;
    text-align: center;
  }
  footer .navbar-nav li {
    float: none;
    display: inline-block;
  }
  footer .social {
    text-align: center;
  }
}
/*
 *
 *
/****************  $Extra Small devices (Phones) <= 768px  *****************/
@media handheld, only screen and (max-width: 768px) {
  .navbar {
    background-color: #0f283e;
    width: 100%;
  }
  .navbar .navbar-nav {
    float: none;
  }
  .navbar .navbar-nav li {
    margin-left: 20px;
  }
  .home {
    height: 390px;
  }
  .home .carousel-inner .item {
    padding: 5px;
  }
  .home h2 {
    font-size: 1.5em;
  }
  .home .btn {
    margin-top: 2em;
  }
  .home .carousel-inner {
    height: 300px;
  }
  .home .carousel-control.right {
    right: 0;
  }
  .home .carousel-control.left {
    left: 0;
  }
  .features {
    padding-bottom: 30px;
  }
  .features h2 {
    font-size: 2.8em;
    line-height: 1.2em;
    margin: 0;
    text-align: left;
  }
  .features h6 {
    margin: 30px 0px;
    text-align: left;
  }
  .features .phone {
    width: 250px;
  }
  .features .device img {
    height: 75px;
  }
  .testimonials .item {
    padding: 40px 10px;
  }
  .testimonials figure {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 210px;
  }
  .testimonials figure:hover a {
    height: 200px;
    line-height: 200px;
    width: 200px;
  }
  .testimonials h2 {
    text-align: center;
  }
  .testimonials .owl-theme .owl-controls {
    left: 0;
  }
  .premium-tv h2 {
    font-size: 2.8em;
    line-height: 1.2em;
  }
  .premium-tv .premium-tv-item {
    width: 270px;
  }
  .premium-tv .premium-tv-item figure {
    height: 140px;
    width: 100px;
  }
  .premium-tv .premium-tv-item h3 {
    font-size: 1em;
  }
  .premium-tv .premium-tv-item p {
    font-size: 0.8em;
  }
  .premium-tv .premium-tv-item strong {
    font-size: 1.3em;
  }
  .premium-tv .premium-tv-item strong i {
    margin: 0 0 0 -10px;
  }
  .plans h2 {
    font-size: 2.8em;
    line-height: 1.2em;
  }
  .channels {
    text-align: center;
  }
  .form-suscribe .form-control {
    min-width: 0;
    width: 100%;
  }
}
